{% extends 'navigation/sample.html' %}

{%block title%} Новости {% endblock %}

{% block content %}
<div id="btn_slide">
    <div id="time_post">
        <p>Выберите дату</p>
        <li><a href=""><i  class="far fa-calendar-alt fa-2x"></i></a>
            <form action="{% url 'filter'  %}" method="get">
                {% csrf_token %}
                <ul1>
                {% for el in DataBaseNW %}
                    <input type="submit" name="filter" class="btn-select" value="{{ el|date:'Y-m-d' }}">
                {% endfor %}
                </ul1>
            </form>

        </li>
    </div>
</div>
<div class="allnews">
    {% for id in AllNews%}
    <a href="{{ id.id }}" style="text-decoration:none;">
        <div class = "onepost">
            <p>{{ id.blog_title }}</p>
            <b><i>Дата: {{ id.date_public|date:'d/m/Y'}}</i></b>

        </div>
    </a>
    {% endfor %}
</div>
{%endblock%}