{% extends 'navigation/sample.html' %}
{% block title %} {{userinfo.username}}{% endblock %}

{% block content %} 
<div class="user_information">
    <div class="user">
        <img src="/media/avatar/{{userinfo.avatar}}" alt="">
        {{userinfo.username}}
    </div>
    <p>{{ userinfo.date_joined }}</p>
</div>
<div class="information">
    <div class ="user_comment">
        {%for comment in comments%}
        <a href="{% url 'show_post' comment.post.id %}" style="text-decoration: none;color:black;display: flex;flex-direction: row; background-color: rgb(255, 247, 242);"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" style="margin-top: 5px;" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
            </svg><p style="margin-left: 5px;">{{comment.post.blog_title}}</p>
        </a>
            <ul id="comment_view">
                <div class="user">
                    <img src="/media/avatar/{{comment.user.avatar}}" alt="">
                    <p class="nickname">{{comment.user}}</p></a>
                </div>
                <p>{{comment.comment}}</p3>
                <p2 class="date">{{comment.date_time}}</p>
            </ul>
        {% endfor %}
    </div>
    
</div>


{% endblock %}


